.component {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 72px;
  margin: 16px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #E4E5E7;
}

.navigation {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 16px;
}

.link {
  display: inline-grid;
  color: #18191B;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all linear 250ms;
  text-decoration: none;
  place-items: center;

  &:not(.active):hover {
    color: #0057FF;
    border: 1px solid #0057FF;
  }

  &[class*="active"] {
    color: #FFF;
    background-color: #0057FF;
  }
}
